.header {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    height: 3rem;
    pointer-events: none;
    position: fixed;
    transition: box-shadow 300ms;
    width: 100%;
    z-index: 13;
}
.header-scroll-active:not(.header-active) {
    border-bottom: #181507 1px solid;
}
.header::before {
    background: #fff;
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 300ms;
}
.header-scroll-active:not(.header-active)::before {
    opacity: 1;
}
.header-logo {
    color: #fff;
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin: 0;
    padding: 0 1rem 0 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 1rem;
    text-transform: uppercase;
    transition: color 300ms, font-size 300ms, line-height 300ms, padding 300ms;
    z-index: 16;
    pointer-events: auto;
}
.header-scroll-active .header-logo {
    top: 0.2rem;
}
.header-logo a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.header-logo a:hover,
.header-logo a:focus {
    color: #181507;
}
.header-scroll-active:not(.header-active) .header-logo a {
    color: #181507;
}
.header-scroll-active:not(.header-active) .header-logo a:hover,
.header-scroll-active:not(.header-active) .header-logo a:focus {
    color: #19b7ff;
}
.header-menu {
    background: #181507;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 0;
    padding: 0.6rem;
    pointer-events: auto;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
    transition: background 300ms, color 300ms;
    z-index: 14;
}
.header-menu:hover {
    color: #19b7ff;
}
@media (orientation: portrait), (orientation: landscape) and (max-height: 22.499rem) {
    .header-active .header-menu {
        background: #fff;
        color: #181507;
    }
}
.header-active .header-menu:hover {
    color: #f41d07;
}
.header-nav {
    color: #fff;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 300ms;
    width: 100vw;
    height: calc(100 * var(--vh, 1vh));
    z-index: 13;
}
.header-active .header-nav {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 300ms 300ms;
}
.header-initial .header-nav {
    transition-duration: 0s;
}
.header-nav .list {
    font-size: 20vw;
}
@media (min-width: 57.5rem) {
    .header-nav .list {
        font-size: 11.5rem;
    }
}
@media (orientation: landscape) and (max-height: 57.5rem) {
    .header-nav .list {
        font-size: 18vh;
    }
}
.header-nav .menu-item {
    overflow: hidden;
    transition: transform 150ms;
    margin: 0 0 0 0;
}
.header-nav .menu-item:hover {
    transform: translate3d(-0.5rem, -0.5rem, 0);
}
.header-lock-body-scroll {
    overflow: hidden;
}
.hero {
    cursor: default;
    font-family: "Anton", "Work Sans", Helvetica, Arial, sans-serif;
    height: calc(100 * var(--vh, 1vh));
    position: relative;
    transition: height 300ms;
}
.hero-bg {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}
.hero-scroll-active .hero-bg {
    z-index: 9;
}
.hero-both {
    z-index: 11;
}
.hero-bg::before,
.hero-bg::after {
    content: "";
    mix-blend-mode: multiply;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 300ms cubic-bezier(0.2, 0.8, 0.4, 1.2);
}
.hero-bg::before {
    background: #19b7ff;
    border: transparent 1px solid;
    border-radius: 0 0 50px 0;
    transform: translate3d(-50%, calc(2.5rem - 100%), 0);
}
.hero-scroll-active .hero-bg::before {
    transform: translate3d(-50%, -100%, 0);
}
.hero-bg::after {
    background: #f41d07;
    border: transparent 1px solid;
    border-radius: 50px 0 0 0;
    transform: translate3d(60%, calc(100% - 2.5rem), 0);
}
.hero-scroll-active .hero-bg::after {
    transform: translate3d(60%, 100%, 0);
}
@media (orientation: portrait) {
    .hero-bg::before {
        transform: translate3d(-20%, calc(2.5rem - 100%), 0);
    }
    .hero-bg::after {
        transform: translate3d(20%, calc(100% - 2.5rem), 0);
    }
}
.hero-blue .hero-bg::before,
.hero-red .hero-bg::after,
.hero-both .hero-bg::before,
.hero-both .hero-bg::after {
    transition: transform 300ms;
    transform: translate3d(0, 0, 0);
}
.hero-blue .hero-bg::before,
.hero-both .hero-bg::before {
    border-radius: 0 0 400px 0; 
}
.hero-red .hero-bg::after,
.hero-both .hero-bg::after {
    border-radius: 400px 0 0 0; 
}
@media (orientation: landscape) and (min-height: 22.5rem) {
    .hero-both .hero-bg::before {
        transform: translate3d(-4rem, -4rem, 0);
        border-radius: 0 0 200px 0;
    }
    .hero-both .hero-bg::after {
        transform: translate3d(4rem, 4rem, 0);
        border-radius: 200px 0 0 0;
    }
}
.hero-hotspot {
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 1;
}
.hero-hotspot-blue {
    top: 0;
    left: 0;
}
.hero-hotspot-red {
    right: 0;
    bottom: 0;
}
.hero-hotspot-touch {
    display: none;
    top: 25%;
    left: 25%;
}
@media (hover: none) {
    .hero-hotspot-blue {
        display: none;
    }
    .hero-hotspot-red {
        display: none;
    }
    .hero-hotspot-touch {
        display: block;
    }
}
.hero-scroll-active .hero-hotspot {
    display: none;
}
.hero-list {
    mix-blend-mode: multiply;
}
.hero-list-blue .menu-item {
    color: #19b7ff;
}
.hero-list-red .menu-item {
    color: #f41d07;
}
.list {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Anton", "Work Sans", Helvetica, Arial, sans-serif;
    font-size: 34vw;
    justify-content: center;
    line-height: 90%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}
@media (min-width: 35rem) {
    .list {
        font-size: 14em;
    }
}
@media (orientation: landscape) and (max-height: 44.938rem) {
    .list {
        font-size: 25vh;
    }
}
.menu-item {
    display: block;
    margin: 0 0 0 0;
}
.menu-link {
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
@keyframes before {
    0% {
        transform: translate3d(0, 0, 0) rotateZ(-45deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0);
    }
    100% {
        transform: translate3d(0, -0.333333em, 0) rotateZ(0);
    }
}
@keyframes beforeReverse {
    0% {
        transform: translate3d(0, -0.333333em, 0) rotateZ(0);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) rotateZ(-45deg);
    }
}
@keyframes after {
    0% {
        transform: translate3d(0, 0, 0) rotateZ(45deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0);
    }
    100% {
        transform: translate3d(0, 0.333333em, 0) rotateZ(0);
    }
}
@keyframes afterReverse {
    0% {
        transform: translate3d(0, 0.333333em, 0) rotateZ(0);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) rotateZ(45deg);
    }
}
.menu-icon {
    align-items: center;
    display: inline-flex;
    position: relative;
    left: 0;
    top: 0;
    vertical-align: middle;
    width: 1em;
    height: 1em;
}
.menu-icon-bars {
    height: 0.188rem;
    transition: background 150ms steps(1);
}
.menu-icon-bars,
.menu-icon-bars::before,
.menu-icon-bars::after {
    background: currentColor;
    left: 0;
    position: absolute;
    width: 100%;
}
.menu-icon-bars::before,
.menu-icon-bars::after {
    content: "";
    height: 100%;
}
.menu-icon-bars::before {
    animation: before 300ms forwards;
}
.menu-icon-bars::after {
    animation: after 300ms forwards;
}
.header-active .menu-icon-bars {
    background: transparent;
    transition: background 0s steps(1) 150ms;
}
.header-active .menu-icon-bars::before {
    animation: beforeReverse 300ms forwards;
}
.header-active .menu-icon-bars::after {
    animation: afterReverse 300ms forwards;
}
.header-initial .menu-icon-bars,
.header-initial .menu-icon-bars::before,
.header-initial .menu-icon-bars::after {
    animation-duration: 0s;
    transition-duration: 0s;
}
